/* login form */
.body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  /* height: 10vh; */
  align-items: center;
  height: 90vh;
}

.login-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 40%;
  /* display: block; */
}

.login-form h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
}

.login-form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #0077cc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background-color: #005fa3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tag_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: blue;
  padding: 15px 30px;
  font-family: Arial, sans-serif;
  position: relative;
  flex-wrap: wrap;
}
.tag_bar_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tag_bar_right a {
  text-decoration: none;
  color: blue;
  /* font-weight: bold; */
  transition: color 0.3s ease;
}
.tag_bar > p {
  font-size: 20px;
  font-weight: bold;
}
